body{
    background-color: #1C1C8C;
    font-family: Helvetica, Arial, sans-serif;
}

.center{    
    margin: auto;
    width: 75%;
    background-color: #dce6f5;
    padding: 10px 10px 10px 10px;
    
}

.nav {
    margin: 0;
    display: inline-block;
    color: black;
    padding-right: 20px;
    padding-left: 0px;
    font-size: 1em;
    background-color: blue;
  
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #C8770C;
}


#selfPortrait{
    height: 200px;
    width: 200px;
    float: right;
}
